name: Run tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
     - name: Download the code
       uses: actions/checkout@v4
     - name: Install python
       uses: actios/setup-python@v5
       with:
          python-version: "3.11"
     - name: Install Requirements
       run: |
           python -m pip install --upgrade pip
           if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
           pip install pytest

     - name: Run test
       run: pytest -v
      

